* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d6efd; /* Blue color */
    padding: 15px 40px;
    font-family: Arial, sans-serif;
}

/* Logo / Heading */
.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

/* Navbar links */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

/* Hover effect */
.nav-links li a:hover {
    color: #dbe9ff;
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body {
    background-color: #0f172a;
    color: #ffffff;
}

/* About Section */
.about-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 50px;
}

/* Image Box */
.image-box {
    background: #22c55e;
    padding: 20px;
    border-radius: 20px;
}

.image-box img {
    width: 280px;
    border-radius: 15px;
    display: block;
}

/* Content */
.content-box {
    max-width: 550px;
}

.content-box h1 {
    font-size: 38px;
    margin-bottom: 20px;
    line-height: 1.3;
}

.content-box h1 span {
    color: #22c55e;
}

.content-box p {
    font-size: 15px;
    line-height: 1.7;
    color: #cbd5f5;
    margin-bottom: 30px;
}

/* Button */
.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #22c55e;
    color: #000;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background-color: #16a34a;
}
