
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d6efd; /* Blue color */
    padding: 15px 40px;
    font-family: Arial, sans-serif;
}

/* Logo / Heading */
.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

/* Navbar links */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
}

/* Hover effect */
.nav-links li a:hover {
    color: #dbe9ff;
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Home Section */
.home {
    height: 100vh;
    background-image: url(https://www.agoda.com/wp-content/uploads/2024/06/las-vegas-usa-1244x700.jpg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    color: white;
}

/* Text Content */
.content {
    max-width: 500px;
}

.content h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.content h1 span {
    color: #ffd700;
}

.content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* Buttons */
.buttons {
    display: flex;
    gap: 15px;
}

.btn {
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 25px;
    font-size: 14px;
    transition: 0.3s;
}

.primary {
    background-color: white;
    color: #2575fc;
}

.primary:hover {
    background-color: #ffd700;
    color: black;
}

.secondary {
    border: 2px solid white;
    color: white;
}

.secondary:hover {
    background-color: white;
    color: #2575fc;
}

/* Image */
.image img {
    width: 600px;
    border-radius: 60px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}
